
{% if admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn view_link btn-small" title="{{ 'Close'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-zoom-in"></i>
        {{ 'Close'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}